GOOGLE_ADS_DEVELOPER_TOKEN=cgwoHyu83rWetH9vXABkCw
GOOGLE_ADS_CLIENT_ID=1071231213389-m13dfkd34p1tc5mb0sc664v73q2u3tsq.apps.googleusercontent.com
GOOGLE_ADS_CLIENT_SECRET=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
#GOOGLE_ADS_LOGIN_CUSTOMER_ID=557-568-0104  # Optional
GOOGLE_ADS_AUTH_TYPE=oauth  # or service_account
